.section1 {
    background-color: #1F2937;
    width: 100%;
    height: 20%;
}

.left_side1 {
    background-color: aqua;
}

.right_side2 {
    background-color: bisque;
}

.upper1_1 {
    background-color: cadetblue;
}

.lower1_1 {
    background-color: chartreuse;
}