.footer{
  flex: 1;
  font-size: 20px;
  color: white;
  background-color: #1F2937;
  height: 1f;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer p{
  margin: 0px;
}