html, body {
  height: 100%;
  margin: 0;
}

body{
  background-color: black;
  display: flex;
  justify-content: center;
}

.page{
  margin: 0px;
  width: 35%;
  font-family: 'Roboto', 'Times New Roman';

  display: flex;
  flex-direction: column;
  height: 100vh;
}

