.section2 {
  background-color: white;
  flex: 5;
  margin: 0%;
}

.section2-contents{
  color: white;
  padding-left: 15%;
  padding-right: 15%;
}

.main-text{
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  display: flex;
  justify-content: center;
}

.picture-frames{
  display: flex;
  justify-content: center;
  gap: 6%;
  text-align: center;
}

.item-frame{
  width: 16%;
  color: #1f2937;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 150%;
}

.item-frame p{
  margin: 0%;
  margin-top: 6%;
  text-align: center;
}

.frame{
  height: 100%;
  width: 100%;
  border-color: #3882F6;
  border-style: solid;
  border-width: 2%;
  border-radius: 4%;
}

.section2-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}